<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Html forms</h2>
    <form action="/submit" method="POST">
        <label for="Science">Science:</label><br>
        <input type="text" id="science" name="Science"><br>
        <label for="Math">Math:</label><br>
        <input type="text" id="math" name="Math"><br>
        <label for="English">English:</label><br>
        <input type="text" id="english" name="English"><br>
        <label for="Hindi">Hindi:</label><br>
        <input type="text" id="hindi" name="Hindi"><br>
        <label for="Datascience">Data Science:</label><br>
        <input type="text" id="datascience" name="Datascience"><br>
        <br>
        <input type="submit" value="Submit">
    </form>
    <p>if you click submit , form data will be sent to a page called /submit </p>
</body>
</html>